{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css"
        integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


    {% block content%}

    {% if user.is_authenticated %}


    <h1>Records...</h1>
    <br>
    <table class="table table-hover table-bordered col-12">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zipcode</th>
                <th scope="col">created At</th>
                <th scope="col">Id</th>
            </tr>
        </thead>
        <tbody>
            {%if records%}

            {% for record in records %}

            <tr>
                <td>
                    {{record.first_name}} 
                    {{record.last_name}} 
                </td>


                <td>
                    {{record.email}}
                </td>

                <td>
                    {{record.phone}}
                </td>

                <td>
                    {{record.address}}
                </td>

                <td>
                    {{record.city}}
                </td>

                <td>
                    {{record.state}}
                </td>

                <td>
                    {{record.zipcode}}
                </td>

                <td>
                    {{record.created_at}}
                </td>

                <td>
                    <a href="{% url 'dynamic_record' pk=record.id %}">{{record.id}}</a>
                </td>

            </tr>

            {% endfor %}

            {% endif %}
        </tbody>
    </table>




    {% else %}

    <h1>Hello world</h1>
    <br>
    <br>
    <div class="col-6 offset-3">
    <form action="{%url 'home'%}" method="POST">
        {% csrf_token %}



        <div class="mb-3">

            <input type="text" class="form-control" name="username" placeholder="username:" required>

        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="password:" required>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>



    </form>
</div>
    {% endif %}
    {% endblock %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>